body {
margin: 0 auto;
position: relative;
font-family: 'Courier New', Courier, monospace;
}

.text-right {
text-align: right;
}

li {
    display: inline;
}

h1, h2, p {
    text-align: center;
}
.text-center {
text-align: center;
}

header, footer {
    background-color: #81626C;
    color: beige;
    font-weight: bolder;
}

.form-style {
background-color: #D5AB9D;
padding: 20px 0 20px
}
#form-text{
    text-align:center;
}